<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to our transformative community of dedicated scientists and scholars on a quest to merge the deep knowledge from ancient and modern science with cutting-edge technological advancements. Our mission is to elevate your lifestyle and boost your well-being using natural sustainable solutions.
</p>
      </div>
      <div class="col-lg-4">
        <p>Using thousands of years of accumulated wisdom from countless sacred texts, we have curated a wealth of knowledge using advanced text analytics to present to you an experimentally proven approach to living a happy and healthy life.  </p>
      </div>
    </div>
  </div>
</section>
