<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to our transformative community of dedicated scientists and scholars on a quest to merge the deep knowledge from the Vedas with cutting-edge scientific advancements. Our primary aim is to illuminate the perfect path toward a happy life, while effortlessly evading diseases and sufferings.
</p>
      </div>
      <div class="col-lg-4">
        <p>Using thousands of years of accumulated wisdom from countless sacred texts, we have curated a wealth of knowledge to present to you an experimentally proven approach to live a happy and healthy life. Our mission encompasses the well-being of both your mind and body, achieved through healthy nourishment and conscious thought. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
